<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>烟花效果</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: black;
            overflow: hidden;
        }

        .firework {
            position: absolute;
            width: 10px;
            height: 40px;
            background: red;
            border-radius: 50%;
        }

        .fires {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: yellow;
            border-radius: 50%;
        }
    </style>
</head>
<body>
<!--https://t-zhaoandi.github.io/demo/view/index_01.html -->
<script type="text/javascript">
    document.onclick = function (ev) {
        //获取鼠标的位置
//        console.log(this);//this的作用域
//        console.log(arguments);//实参的集合
//        console.log(ev);//指代arguments
        var ev = ev || window.event;
        var x = ev.clientX,
            y = ev.clientY;
        var h = window.innerHeight;
        //生成烟花
        firework(x, y, h);
    };

    function firework(x, y, h) {
        var oDiv = document.createElement("div");
        oDiv.className = "firework";
        oDiv.style.left = x + "px";
        oDiv.style.top = h + "px";
        oDiv.style.backgroundColor = color1();
        //把div添加到body里面
        document.body.appendChild(oDiv);
        //让子弹向上移动
        var speed = -10;
        timer = setInterval(function () {
            oDiv.style.top = oDiv.offsetTop + speed + "px";
            if (oDiv.offsetTop <= y) {
                clearInterval(timer);
                //先清除子弹
                document.body.removeChild(oDiv);
                //生成烟花粒子
                createFire(x, y, h);

            }
        }, 10);
    }
    function createFire(x, y, h) {
        var n = Math.ceil(Math.random() * 50 + 50);// 生成50-100的随机数
        var fires = [];
        for (var i = 0; i < n; i++) {
            fires[i] = document.createElement("div");
            fires[i].className = "fires";
            fires[i].style.left = x + "px";
            fires[i].style.top = y + "px";
            fires[i].style.backgroundColor = color2();
            fires[i].speedX = Math.random() * 20 - 10;
            fires[i].speedY = Math.random() * 20 - 10;
            document.body.appendChild(fires[i]);
        }
        setInterval(function () {
            for (var j = 0; j < n; j++) {
                fires[j].style.left = fires[j].offsetLeft + fires[j].speedX + "px";
                fires[j].style.top = fires[j].offsetTop + fires[j].speedY + "px";
                fires[j].speedY += 1;
                //对烟花粒子范围控制
                if (fires[j].offsetLeft < 0 ||
                    fires[j].offsetLeft > window.innerWidth ||
                    fires[j].offsetTop > h) {
                    document.body.removeChild(fires[j]);

                }
            }
        }, 30);
    }
    //生成随机颜色
    //方法一：rgb
    function color1() {
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
    //方法二：十六进制
    function color2() {
        return "#" + function (color) {
                //生成随机十六进制的数
                return new Array(7-color.length).join("0")+ color
            }((Math.random() * 0x1000000 << 0).toString(16));
    }
    // new Array(7-color.length).join("0")   创建一个长度为7-color.length的空数组 并用"0"拼接
    //console.log();
</script>
<h1 style="text-align: center;color: red;">请点击窗口~！~！</h1>
</body>
</html>